@use "../../../assets/scss/abstract/variables" as var;

.header {
  padding: .5rem 0;
  background-color: var.$mainColor;

  &__before {
    display: flex;
    justify-content: center;
  }

  &__after {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__nav {
    display: flex;
    align-items: center;
    &__item {
      &:not(:last-child) {
        margin-right: 15px;
      }
    }
  }
  &__profile {
    span {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      overflow: hidden;
      display: flex;
    }
  }
  &__font {
    i {
      color: var.$bodyColor;
      font-size: var.$logoFontSize;
    }
  }
}

.logo {
  a {
    color: var.$whiteFontColor;
    font-size: var.$logoFontSize;
  }
}