@use "../abstract/variables" as var;

*,
*::after,
*::before {
  outline: 0;
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Poppins";
  //direction: $isRtl;
}

//html {font-size: 62.5%;}

body {
  box-sizing: border-box;
  background-color: var.$bodyColor;
}

html, body {height: 100%}