// Colors
$bodyColor: #fff;
$mainColor: #000E1A;
$secondaryColor: #222;

$bodyDarkColor: #000E1A;
$mainDarkColor: #000E1A;
$secondaryDarkColor: #000E1A;

// Font colors
$mainFontColor: #222;
$whiteFontColor: #fff;

// Font sizes
$logoFontSize: 24px;
$smallFontSize: 12px;

// Fonts weight
$PoppinsLight: 300;
$PoppinsRegular: 400;
$PoppinsMedium: 500;
$PoppinsSemi: 600;
$PoppinsBold: 700;
$PoppinsExtra: 800;
$PoppinsBlack: 900;