// Colors
$bodyColor: #fff;
$mainColor: #0063B1;
$secondaryColor: #383535;

//$bodyDarkColor: #000E1A;
//$mainDarkColor: #000E1A;
//$secondaryDarkColor: #000E1A;

// Font colors
$mainFontColor: #222;
$whiteFontColor: #fff;

//$mainDarkFontColor: #222;
//$whiteDarkFontColor: #fff;

// Font sizes
$logoFontSize: 24px;
$smallFontSize: 12px;

// Fonts weight
$PoppinsLight: 300;
$PoppinsRegular: 400;
$PoppinsMedium: 500;
$PoppinsSemi: 600;
$PoppinsBold: 700;
$PoppinsExtra: 800;
$PoppinsBlack: 900;