@use "./assets/scss/abstract/fonts";
@use "./assets/scss/base/reset";
@use "assets/scss/abstract/variables" as var;

.centered-block {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-width {
  > * {
    width: 100%;
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}

.img-holder {
  display: flex;
  justify-content: center;
  margin: 20px;
  img {
    width: 100%;
  }
}

.dark-mode {
  background-color: var.$darkMode;
  color: var.$lightMode;
}